---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="h-[calc(100vh-160px)] flex items-center text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a href="/about" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</Layout>
