---
import Navigation from '../components/Navigation.svelte';
import '../styles/global.css';
import Modal from '../components/Modal.svelte';
import Footer from '../components/Footer.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Modal />
    <div class="w-full sticky top-0">
      <Navigation />
    </div>
    <article class="prose">
      <slot />
    </article>
    <!-- Your content will be inserted here -->
    <Footer />
  </body>
</html>
